.Contatos {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1em;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Endereco {
    margin: 0;
    padding: 0;
}

.Cnpj {
    margin: 0;
    padding: 0;
}